# Common Datascience Data Formats

###  CSV 

The full name for this data format is "comma-separated values", but it is conventionally referred to by the shorthand "CSV"

CSV is a plain text, delimited format, meaning its contents are essentially just strings with a specified structure. You can visually inspect the contents of plain text files using general-purpose text editing tools such as Vim, VS Code, or Notepad. (This is in contrast to formats like images or SQLite databases, which contain encoded bytes that require specific tools to read.)

In [21]:
import csv

In [ ]:
# load data
with open("./data/olympic_medals.csv") as file:
    reader = csv.DictReader(file)
    olympics_data = list(reader)

# Print the first 5 rows of data
for index in range(5):
    print(olympics_data[index])

{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Rio', 'Year': '2016', 'Medal': 'G', 'Name': 'Mohamed FARAH', 'Nationality': 'GBR', 'Result': '25:05.17'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Rio', 'Year': '2016', 'Medal': 'S', 'Name': 'Paul Kipngetich TANUI', 'Nationality': 'KEN', 'Result': '27:05.64'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Rio', 'Year': '2016', 'Medal': 'B', 'Name': 'Tamirat TOLA', 'Nationality': 'ETH', 'Result': '27:06.26'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Beijing', 'Year': '2008', 'Medal': 'G', 'Name': 'Kenenisa BEKELE', 'Nationality': 'ETH', 'Result': '27:01.17'}
{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Beijing', 'Year': '2008', 'Medal': 'S', 'Name': 'Sileshi SIHINE', 'Nationality': 'ETH', 'Result': '27:02.77'}

The number of rows in the dataset is just the length of the resulting list:

In [24]:
len(olympics_data)

2394

#### Filter the data so that it only includes gold medals

In [26]:
# filter data to include only gold medals
gold_medals = []
for row in olympics_data:
    if row["Medal"] == "G":
        gold_medals.append(row)
        
len(gold_medals)

799

#### Filter data to get kenyan Gold Medals

In [28]:
kenyan_gold_medals = []
for row in olympics_data:
    
    if row["Medal"] == "G" and row["Nationality"] == "KEN":
        kenyan_gold_medals.append({"Event":row["Event"],"Name":row["Name"]})
        
len(kenyan_gold_medals)

26

In [30]:
kenyan_gold_medals[4]

{'Event': '3000M Steeplechase Men', 'Name': 'Conseslus KIPRUTO'}

In [ ]:
# Todo: Get the Number of medals for each country

### Saving Files

In [31]:
# saving files

with open("./data/kenyan_2016_gold_medalist.csv","w") as file:
    writer = csv.DictWriter(file,fieldnames=["Name","Event"])
    writer.writeheader()
    writer.writerows(kenyan_gold_medals)

In [ ]:
import pandas as pd

df = pd.read_csv("./data/olympic_medals.csv")

df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [43]:
df_results = df[["Name","Result"]]
df_results

                       Name    Result
0             Mohamed FARAH  25:05.17
1     Paul Kipngetich TANUI  27:05.64
2              Tamirat TOLA  27:06.26
3           Kenenisa BEKELE  27:01.17
4            Sileshi SIHINE  27:02.77
...                     ...       ...
2389      Hrysopiyi DEVETZI     15.25
2390       Tatyana LEBEDEVA     15.14
2391         Inessa KRAVETS     15.33
2392        Inna LASOVSKAYA     14.98
2393       Sarka KASPARKOVA     14.98

[2394 rows x 2 columns]

In [44]:
df_results.to_csv("results.csv")